/* -----Layout settings----- */
body {
  margin: 0;
  font-family: "Dosis", sans-serif;
  background-color: #121212;
  color: white;
}

a {
  text-decoration: none;
}

header {
  display: flex;
}

li {
  list-style-type: none;
}

nav {
  position: sticky;
  top: 0;
  padding: 0.4% 0.2% 0.2% 0.2%;
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #161616a9;
  user-select: none;
}

.icons {
  height: 1.57rem;
  margin: 0 0.25rem 0 0.25rem;
  transform: rotateZ(-360deg);
  transition-duration: 0.5s;
}

.gmail {
  width: 1.8rem;
  box-sizing: unset;
}

.icons:hover {
  transform: rotateZ(360deg);
  transition-duration: 1.5s;
  cursor: pointer;
}

.findMeWrap {
  display: flex;
  width: 100%;
  align-items: center;
  padding-left: 2rem;
}

.findMeWrap > p {
  padding-right: 1rem;
}

.findMeWrapSm {
  display: none;
}
.findIconContSm {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  position: absolute;
  top: 2.5rem;
}

.isaac {
  width: fit-content;
  cursor: pointer;
}

p {
  margin: 0;
}

.hide {
  display: none;
}

.bg {
  background-image: url("../img/backgrounds/andre-benz-wkhyXI5hRbo-unsplash.webp");
  width: 100%;
  height: 120vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
  position: absolute;
  opacity: 0.5;
  user-select: none;
}

.logo {
  width: 3rem;
  cursor: pointer;
}

.bounce {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(-3px);
  }
}
.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
}

.menu {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-right: 1rem;
}

.menu > ul {
  display: flex;
  margin: 0;
}

.menu > ul > li {
  padding: 0 0.5rem;
}

.menu > ul > li > a,
.menu > ul > li > a:visited {
  color: grey;
}

.menu > ul > li:hover {
  transform: scale(1.3, 1.3);
  transition-duration: 0.15s;
  text-decoration: underline;
}

/* -----  ----- */

.about_about {
  font-weight: 600;
  text-decoration: underline;
}

.about_contents {
  padding: 2rem 18rem 2rem 18rem;
  display: flex;
  justify-content: center;
}

.profile_portrait {
  border-radius: 50%;
  width: 20rem;
  user-select: none;
}

.profile_backdrop {
  height: 120vh;
  width: 100%;
  top: 0;
  user-select: none;
  position: absolute;
  opacity: 0.1;
  z-index: -1;
}

.about_me {
  padding: 0 0 0 10%;
  line-height: 2.1;
  font-family: "Montserrat", sans-serif;
  color: inherit;
}

.skillContainer {
  text-align: center;
  color: inherit;
  user-select: none;
}

.skillList {
  justify-content: center;
  padding: 0 10%;
}

.skill {
  margin: 1rem;
  color: inherit;
  text-align: center;
}

.skill > img {
  width: 4rem;
  box-shadow: 4px 3px 15px 0px #191919;
  border-radius: 50%;
  transition: 0.2s;
}

.skill > img:hover {
  transform: scale(1.4);
  transition: 0.3s;
}

.lightsOn {
  background-color: rgb(177, 177, 177);
  color: black;
  transition: ease-out 1s;
}

@media screen and (max-width: 1420px) {
  .about_contents {
    padding: 2rem 12rem 2rem 12rem;
  }
}

@media screen and (max-width: 1200px) {
  .about_contents {
    padding: 2rem 5rem 2rem 5rem;
  }
}

@media screen and (max-width: 1024px) {
  .mySkills > h1 {
    font-size: 30px;
  }
  .hasExperience > h1 {
    font-size: 30px;
  }
  .skillList {
    margin: 0;
    padding: 0 0 1.5rem 0;
  }
  .skill {
    margin: 0.5rem;
  }
}

@media screen and (max-width: 940px) {
  .about_contents {
    padding: 2rem 3rem 2rem 3rem;
  }
  .profile_portrait {
    width: 20rem;
    height: 20rem;
    align-self: center;
  }
}

@media screen and (max-width: 768px) {
  .findMeWrap {
    display: none;
  }
  .findMeWrapSm {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 3rem;
    align-self: center;
    user-select: none;
  }
  .profile_portrait {
    width: 15rem;
    height: 15rem;
    align-self: center;
  }
  .about_contents {
    font-size: 15px;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .skill > img {
    width: 3rem;
  }
  .mySkills > h1 {
    font-size: 25px;
  }
  .hasExperience > h1 {
    font-size: 25px;
  }
  .skillList {
    margin: 0;
    padding: 0 0 1.5rem 0;
  }
  .skill {
    margin: 0.5rem;
  }
}

@media screen and (max-width: 570px) {
  .findMeWrapSm {
    margin-left: 2rem;
  }
  .findIconContSm {
    margin-left: 3rem;
  }
  .profile_portrait {
    width: 12rem;
    height: 12rem;
    align-self: center;
  }
  .about_contents {
    flex-direction: column;
    font-size: 12px;
    margin: 0;
    padding: 1rem;
  }
  .about_me {
    padding: 0;
    text-align: center;
  }
  .menu {
    font-size: 12px;
    width: fit-content;
    padding: 0;
  }
  .menu > ul {
    padding-left: 0;
    align-items: center;
    height: 100%;
    margin-bottom: 0;
  }
  .menu > ul > li {
    padding: 0 0.5rem 0 0.5rem;
  }
  .logo {
    width: 2.5rem;
  }
  .icons {
    width: 2rem;
    height: auto;
  }
  .gmail {
    width: 1.5rem;
  }
  .mySkills > h1 {
    font-size: 25px;
  }
  .hasExperience > h1 {
    font-size: 25px;
  }
  .skillList {
    margin: 0;
    padding: 0 0 1.5rem 0;
  }
  .skill {
    margin: 0.5rem;
  }
}

@media screen and (max-width: 450px) {
  .about_contents {
    padding: 0.5rem;
    font-size: 10px;
  }
  .skillContainer {
    padding: 0;
  }
  .mySkills {
    font-size: 12px;
  }
  .mySkills > h1 {
    font-size: 20px;
  }
  .mySkills > ul {
    padding: 0 0 0.5rem 0;
  }
  .skill > img {
    width: 2.2rem;
  }
  .hasExperience {
    font-size: 10px;
  }
  .hasExperience > h1 {
    font-size: 20px;
  }
  .hasExperience > ul {
    padding: 0;
  }
  .menu > ul > li {
    padding: 0 0.3rem 0 0.3rem;
  }
  .findMeWrapSm {
    margin-left: 1rem;
    font-size: 12px;
  }
  .findIconContSm {
    margin-left: 2rem;
  }
}

.tryMe {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.767);
  color: black;
  width: 4rem;
  font-weight: 600;
  text-align: center;
  top: 100%;
  left: 0.6%;
}
