/* -----Layout settings----- */
body {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  background-color: #121212;
  color: white;
}

a {
  text-decoration: none;
}

header {
  display: flex;
}

li {
  list-style-type: none;
}

nav {
  padding: 0.2%;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background-color: #161616a9;
  user-select: none;
}

.icons {
  height: 25px;
  padding: 0 0.25rem 0 0.25rem;
  transform: rotateZ(-360deg);
  transition-duration: 0.5s;
}

.gmail {
  width: 1.8rem;
  box-sizing: unset;
}

.icons:hover {
  transform: rotateZ(360deg);
  transition-duration: 1.5s;
  cursor: pointer;
}

.findMeWrap {
  display: flex;
  width: 100%;
  align-items: center;
  padding-left: 2rem;
}

.findMeWrap > p {
  padding-right: 1rem;
}

p {
  margin: 0;
}

.hide {
  display: none;
}

.backgroundImg {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0.5;
  user-select: none;
}

.logo {
  width: 3rem;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
}

.menu {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  align-items: center;
  padding-right: 1rem;
}

.menu > ul {
  display: flex;
  margin: 0;
}

.menu > ul > li {
  padding: 0 10px;
}

.menu > ul > li > a,
.menu > ul > li > a:visited {
  color: grey;
}

.menu > ul > li:hover {
  transform: scale(1.3, 1.3);
  transition-duration: 0.15s;
  text-decoration: underline;
}

/* -----  ----- */

.about_about {
  font-weight: 600;
  text-decoration: underline;
}

.about_contents {
  padding-top: 5%;
  display: flex;
  justify-content: center;
}

.profile_portrait {
  border-radius: 50%;
  width: 20rem;
  user-select: none;
}

.about_me {
  padding: 0 0 0 10%;
  line-height: 2.1;
  font-family: 'Montserrat', sans-serif;
  color: inherit;
}

.skillContainer {
  text-align: center;
  color: inherit;
  user-select: none;
}

.skillList {
  justify-content: center;
  padding: 0 10%;
}

.skill {
  margin: 1rem;
  color: inherit;
  text-align: center;
}

.skill > img {
  width: 4rem;
  box-shadow: 4px 3px 15px 0px #191919;
  border-radius: 50%;
  transition: 0.2s;
}

.skill > img:hover {
  transform: scale(1.4);
  transition: 0.3s;
}

.lightsOn {
  background-color: ivory;
  color: black;
  transition: ease-out 1s;
}

@media screen and (max-width: 1024px) {
  .mySkills > h1 {
    font-size: 30px;
  }
  .hasExperience > h1 {
    font-size: 30px;
  }
  .skillList {
    margin: 0;
    padding: 0 0 1.5rem 0;
  }
  .skill {
    margin: 0.5rem;
  }
}
@media screen and (max-width: 768px) {
  .profile_portrait {
    width: 15rem;
    height: 15rem;
    align-self: center;
  }
  .about_contents {
    font-size: 15px;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .skill > img {
    width: 3rem;
  }
  .mySkills > h1 {
    font-size: 25px;
  }
  .hasExperience > h1 {
    font-size: 25px;
  }
  .skillList {
    margin: 0;
    padding: 0 0 1.5rem 0;
  }
  .skill {
    margin: 0.5rem;
  }
}

@media screen and (max-width: 570px) {
  .profile_portrait {
    width: 12rem;
    height: 12rem;
    align-self: center;
  }
  .about_contents {
    flex-direction: column;
    font-size: 12px;
    margin: 0;
    padding: 1rem;
  }
  .about_me {
    padding: 0;
    text-align: center;
  }
  .menu {
    font-size: 12px;
    width: fit-content;
    padding: 0;
  }
  .menu > ul {
    padding-left: 0;
    align-items: center;
    height: 100%;
    margin-bottom: 0;
  }
  .findMeWrap {
    font-size: 12px;
    padding-left: 1.5rem;
    align-self: center;
  }
  .findMeWrap > p {
    display: none;
  }
  .logo {
    width: 2.5rem;
  }
  .icons {
    width: 2rem;
    height: auto;
  }
  .gmail {
    width: 1.5rem;
  }
  .mySkills > h1 {
    font-size: 25px;
  }
  .hasExperience > h1 {
    font-size: 25px;
  }
  .skillList {
    margin: 0;
    padding: 0 0 1.5rem 0;
  }
  .skill {
    margin: 0.5rem;
  }
}

@media screen and (max-width: 450px) {
  .skillContainer {
    padding: 0;
  }
  .mySkills {
    font-size: 12px;
  }
  .mySkills > h1 {
    font-size: 20px;
  }
  .mySkills > ul {
    padding: 0 0 0.5rem 0;
  }
  .skill > img {
    width: 2rem;
  }
  .hasExperience {
    font-size: 10px;
  }
  .hasExperience > h1 {
    font-size: 20px;
  }
  .hasExperience > ul {
    padding: 0;
  }
}
