body {
  margin: 10% 0 0 0;
  background-color: #161b21;
  color: #f2aa4c;
  box-sizing: border-box;
}

a {
  color: inherit;
}

.hide {
  display: none;
  user-select: none;
}

.v2projects_iconsWrap {
  position: absolute;
  top: 48%;
  left: 63%;
  transform: rotateZ(8deg);
  height: 10px;
  width: 180px;
  transform-style: preserve-3d;
  user-select: none;
}

.v2innerWrap {
  margin: 0 1rem 0 1rem;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotate 8s linear infinite;
}

.v2innerWrap div {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.v2innerWrap div:nth-child(1) {
  transform: rotateY(0deg);
}
.v2innerWrap div:nth-child(2) {
  transform: rotateY(45deg);
}
.v2innerWrap div:nth-child(3) {
  transform: rotateY(90deg);
}
.v2innerWrap div:nth-child(4) {
  transform: rotateY(135deg);
}
.v2innerWrap div:nth-child(5) {
  transform: rotateY(180deg);
}
.v2innerWrap div:nth-child(6) {
  transform: rotateY(225deg);
}
.v2innerWrap div:nth-child(7) {
  transform: rotateY(270deg);
}
.v2innerWrap div:nth-child(8) {
  transform: rotateY(315deg);
}

.v2projects_icons {
  width: 50%;
  margin: 200px;
  opacity: 0.8;
  border-radius: 5rem;
  box-shadow: 10px -8px 20px 1px #fff;
}

@keyframes rotate {
  0% {
    transform: perspective(1000px) rotateY(359deg);
  }
  100% {
    transform: perspective(1000px) rotateY(0deg);
  }
}

.v2introSection {
  text-align: center;
}

.v2intro {
  display: flex;
  justify-content: center;
}

.name {
  width: 100%;
  font-family: "Anton", sans-serif;
  text-shadow: -30px 21px 8px #000;
}

.v2intro h1 {
  font-size: 8rem;
  line-height: 0.1;
  text-align: right;
  margin-right: 20%;
}
.v2lastname {
  margin-right: 10% !important;
}
.v2underline {
  border-bottom: 0.1rem solid #f2aa4c;
  margin: -1% 5% 0 24%;
}

.v2shortIntro {
  font-size: 1.4rem;
  line-height: 0.3;
  text-align: left;
  width: 100%;
  align-self: flex-end;
  margin-bottom: 1.5%;
  font-family: "Fraunces", serif;
}

.v2about {
  width: 30%;
  padding: 1% 0 8% 20%;
  text-align: right;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.v2title h1 {
  text-align: center;
  font-size: 4rem;
  font-family: "Anton", sans-serif;
  margin: 8% 0 5% 0;
  text-shadow: -15px 12px 12px #000;
}

.v2projectsList {
  display: flex;
  justify-content: space-evenly;
  margin: 0 0 15% 0;
}

.test1 {
  height: 70vh;
  width: 50vw;
  background-color: white;
  transform: perspective(1000px) rotateY(-20deg);
  box-shadow: 80px 60px 35px #000;
}

.v2projectorWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10%;
}

.v2projectIconsWrap {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.v2proejctorCont {
  margin-top: 250%;
  margin-left: -180%;
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.v2projector {
  height: 20rem;
  width: 10rem;
  transform: rotateY(180deg);
}

.v2projectorShadow {
  margin: -4rem 0 0 2rem;
  height: 1px;
  color: transparent;
  width: fit-content;
  /* border-radius: 0rem; */
  box-shadow: 10px 20px 30px 10px #000;
}

.v2projectIcons {
  width: 5rem;
  height: auto;
}

.v2projectSelectWrap {
  left: 5%;
  display: flex;
  flex-direction: row;
  position: absolute;
}

.v2projectSelect {
  transform: perspective(500px) rotateY(20deg);
  -webkit-transform: perspective(500px) rotateY(20deg);
  transform-style: preserve-3d;
  height: 100%;
  width: fit-content;
  user-select: none;
}

.v2projectSelect > h2 {
  cursor: pointer;
  font-size: 25px;
  width: fit-content;
  margin: 0 0 10% 0;
  text-shadow: -18px 11px 6px #000;
}

.infoWrap {
  width: 33rem;
  height: 30rem;
  left: 12rem;
  position: absolute;
}

.see_movieHunt {
  text-decoration: underline solid #f2aa4c 1px;
  cursor: pointer;
}
.see_pokeDex {
  text-decoration: underline solid #f2aa4c 1px;
  cursor: pointer;
}
.see_toDo {
  text-decoration: underline solid #f2aa4c 1px;
  cursor: pointer;
}

.see_watsPoppin {
  text-decoration: underline solid #f2aa4c 1px;
  cursor: pointer;
}

.v2screen {
  width: 100%;
  height: 100%;
  background-color: #191919;
}

.v2flowerCont {
  display: flex;
  width: 100%;
  height: 100%;
}

.v2flowerCont div:nth-child(1) {
  border: 3px #f2aa4c solid;
  width: 10rem;
  height: 10rem;
  border-radius: 6rem;
}

.v2pokeDexIconsWrap {
  position: absolute;
  top: -20%;
}

.v2movieHuntIconsWrap {
  position: absolute;
  top: 0%;
}

.v2toDoIconsWrap {
  position: absolute;
  top: 40%;
}

.v2watsPoppinIconsWrap {
  position: absolute;
  top: 60%;
}

.v2projectSelect > div > img {
  opacity: 0;
  position: absolute;
  width: 5rem;
  user-select: none;
  z-index: -100;
}

.build {
  animation: build 2s;
}

@keyframes build {
  0% {
    transform: translateX(0) rotateY(200deg);
    opacity: 1;
  }
  20% {
    transform: translateY(-100%) translateX(180%);
  }
  50% {
    transform: translateY(-100%) translateX(180%);
    opacity: 1;
  }
  60% {
    transform: translateY(600%) translateX(80%);
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
}

.sendEmail {
  display: flex;
  justify-content: center;
}

.emailForm {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 100%;
  align-items: center;
  margin-bottom: 4rem;
}

.emailForm input:nth-child(2) {
  width: 40%;
  height: 1.3rem;
  margin: 0.5rem 0 2rem 0;
}
.emailForm input:nth-child(4) {
  width: 40%;
  height: 1.3rem;
  margin: 0.5rem 0 2rem 0;
}

input {
  outline: none;
  font-size: 1rem;
  border: 4px #f2aa4c solid;
  background-color: #161b21;
  color: #f2aa4c;
  box-shadow: 11px 9px 15px 2px #000;
}

textarea {
  resize: none;
  outline: none;
  font-size: 1.5rem;
  margin: 0.5rem 0 2rem 0;
  border: 4px #f2aa4c solid;
  background-color: #161b21;
  color: #f2aa4c;
  box-shadow: 15px 20px 20px 5px #000;
}
