/* -----Layout settings----- */
body {
  margin: 0;
  font-family: "Dosis", sans-serif;
  background-color: #121212;
  color: white;
}

a {
  color: inherit;
}

header {
  display: flex;
}

li {
  list-style-type: none;
}

nav {
  height: 3rem;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background-color: #161616a9;
  position: sticky;
  top: 0;
  z-index: 100;
  user-select: none;
}

.icons {
  height: 1.57rem;
  padding: 0 0.25rem 0 0.25rem;
  transform: rotateZ(-360deg);
  transition-duration: 0.5s;
}

.gmail {
  width: 1.8rem;
  box-sizing: unset;
}

.icons:hover {
  transform: rotateZ(360deg);
  transition-duration: 1.5s;
  cursor: pointer;
}

.findMeWrap {
  display: flex;
  width: 100%;
  align-items: center;
  padding-left: 2rem;
}

.findMeWrap > p {
  padding-right: 1rem;
}

.findMeWrapSm {
  display: none;
}
.findIconContSm {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  position: absolute;
  top: 2.5rem;
}

.isaac {
  width: fit-content;
  cursor: pointer;
}

p {
  margin: 0;
}

.hide {
  display: none;
}

.backgroundImg {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
  opacity: 0.5;
}

.logo {
  width: 3rem;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
}

.menu {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  align-items: center;
}

.menu > ul {
  display: flex;
  margin: 0 1rem 0 0;
  padding: 0;
}

.menu > ul > li {
  padding: 0 0.5rem;
}

.menu > ul > li > a,
.menu > ul > li > a:visited {
  color: grey;
}

.menu > ul > li:hover {
  transform: scale(1.3, 1.3);
  transition-duration: 0.15s;
  text-decoration: underline;
}

/* -----  ----- */
.pageTitle {
  text-align: center;
  color: inherit;
  margin-top: 2.5rem;
}

.projects_sortBy {
  padding-top: 3rem;
  font-size: 1.2rem;
}

.slidesWrap {
  width: 35rem;
  padding: 0 0 1rem 0;
  margin: auto;
  height: 100%;
  user-select: none;
}

.projectsContainer > div {
  padding: 3rem;
}

.projects_projects {
  font-weight: 600;
  text-decoration: underline;
}

.carousel-item {
  height: 21rem;
  box-shadow: 3px 2px 5px 2px #191919;
  border-radius: 3%;
}

.d-block {
  width: 100%;
  height: 100%;
}

.carousel-caption > * {
  background-color: rgba(71, 71, 71, 0.664);
}

.kokoatalkSlide {
  height: 35rem;
}
.kokoatalkSlideCont {
  width: 20rem;
}

.description {
  color: inherit;
  padding: 0 2.5rem;
  display: flex;
  justify-content: center;
}

.description > p > a {
  text-decoration: underline;
}

.col {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 5rem 0 5rem 0;
}

.hide {
  display: none;
}

.projects_iconsWrap {
  padding: 0 0 0 0;
  display: flex;
  justify-content: center;
  user-select: none;
}

.projects_iconsWrap > div {
  width: 5rem;
  margin: 0 1rem 0 1rem;
  border-radius: 50%;
  box-shadow: 4px 3px 15px 1px #414141;
  cursor: pointer;
}

.projects_icons {
  width: 100%;
}

.carousel-item > img {
  border-radius: 3%;
}

.pokedexOverlay {
  background-color: white;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.projects_sort {
  text-align: center;
}

.clearBtn {
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  font-weight: 600;
  margin-top: 1rem;
}

.projects_iconsWrap > div {
  transform: scale(1);
  transition-duration: 0.5s;
}

.projects_iconsWrap > div:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;
}

.lightsOn {
  background-color: ivory;
  color: black;
  transition: ease-out 2s;
}

@media screen and (max-width: 768px) {
  .findMeWrap {
    display: none;
  }
  .findMeWrapSm {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 3rem;
    align-self: center;
    user-select: none;
  }
  .projects_iconsWrap > div {
    width: 4.5rem;
    height: 4.5rem;
  }
}

@media screen and (max-width: 570px) {
  .findMeWrapSm {
    margin-left: 2rem;
  }
  .findIconContSm {
    margin-left: 3rem;
  }
}

@media screen and (max-width: 450px) {
  .findMeWrapSm {
    margin-left: 1rem;
    font-size: 12px;
  }
  .findIconContSm {
    margin-left: 2rem;
  }
  .slidesWrap {
    width: 25rem;
    height: 100%;
  }
  .carousel-item {
    height: 15rem;
  }
  .projects_iconsWrap {
    padding-top: 1rem;
  }
  .projects_iconsWrap > div {
    width: 3.2rem;
    height: 3.2rem;
    margin-top: 1rem;
  }
  .clearBtn {
    margin: 0.5rem 0 0 0;
  }
  .kokoatalkSlide {
    height: 35rem;
  }
  .kokoatalkSlideCont {
    width: 20rem;
  }
  .menu {
    font-size: 12px;
    width: fit-content;
    height: 100%;
    margin: 0;
    align-content: center;
  }
  .menu > ul {
    padding-left: 0;
    align-items: center;
    height: 100%;
    margin: 0;
  }
  .findMeWrap {
    font-size: 12px;
    padding-left: 1.5rem;
    align-self: center;
  }
  .findMeWrap > p {
    display: none;
  }
  .logo {
    width: 2.5rem;
  }
  .icons {
    width: 2rem;
    height: auto;
  }
  .gmail {
    width: 1.2rem;
  }
  .projectsContainer > div {
    padding: 3rem 0 5rem 0;
  }
}

@media screen and (max-width: 375px) {
  .slidesWrap {
    width: 80vw;
    height: 100%;
  }
  .slidesWrap > div {
    height: 20vh;
  }
  .carousel-item {
    height: 8rem;
  }
  .projects_iconsWrap > div {
    width: 3rem;
    height: 3rem;
  }
  .kokoatalkSlide {
    height: 25rem;
  }
}
