body {
  margin: 10rem 0 0 0;
  background-color: #161b21;
  color: #f2aa4c;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  -webkit-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
}

a {
  color: inherit;
}

.hide {
  display: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hidden {
  opacity: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

li {
  list-style-type: none;
}

nav {
  padding: 0.2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.336);
  position: fixed;
  z-index: 1000;
  top: 0;
}

.icons {
  height: 1.57rem;
  padding: 0 0.25rem 0 0.25rem;
  -webkit-transform: rotateZ(-360deg);
  -ms-transform: rotate(-360deg);
  transform: rotateZ(-360deg);
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.gmail {
  width: 1.8rem;
}

.icons:hover {
  -webkit-transform: rotateZ(360deg);
  -ms-transform: rotate(360deg);
  transform: rotateZ(360deg);
  -webkit-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  transition-duration: 1.5s;
  cursor: pointer;
}

.findMeWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 2rem;
}

.findMeWrap > p {
  padding-right: 1rem;
}

.findMeWrapSm {
  display: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}
.findIconContSm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 3rem;
  position: absolute;
  top: 3rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.isaac {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.logo {
  width: 3rem;
  padding-left: 1rem;
  cursor: pointer;
  -webkit-animation: bounce 1s infinite;
  animation: bounce 1s infinite;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  50% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  50% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 1rem 0 0;
}

.menu > ul > li {
  padding: 0 0.5rem;
  margin: 0;
}

.menu > ul > li > a,
.menu > ul > li > a:visited {
  color: grey;
}

.menu > ul > li:hover {
  -webkit-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  text-decoration: underline;
}

.v2projects_iconsWrap {
  position: absolute;
  margin-top: 15rem;
  /* margin-left: 61rem; */
  left: 63%;
  -webkit-transform: rotateZ(8deg);
  -ms-transform: rotate(8deg);
  transform: rotateZ(8deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 10px;
  width: 180px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.v2innerWrap {
  margin: 0 1rem 0 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation: rotate 8s linear infinite;
  animation: rotate 8s linear infinite;
}

.v2innerWrap div {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.v2innerWrap div:nth-child(1) {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.v2innerWrap div:nth-child(2) {
  -webkit-transform: rotateY(45deg);
  transform: rotateY(45deg);
}
.v2innerWrap div:nth-child(3) {
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
}
.v2innerWrap div:nth-child(4) {
  -webkit-transform: rotateY(135deg);
  transform: rotateY(135deg);
}
.v2innerWrap div:nth-child(5) {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.v2innerWrap div:nth-child(6) {
  -webkit-transform: rotateY(225deg);
  transform: rotateY(225deg);
}
.v2innerWrap div:nth-child(7) {
  -webkit-transform: rotateY(270deg);
  transform: rotateY(270deg);
}
.v2innerWrap div:nth-child(8) {
  -webkit-transform: rotateY(315deg);
  transform: rotateY(315deg);
}

.v2projects_icons {
  width: 50%;
  margin: 200px;
  opacity: 0.8;
  border-radius: 5rem;
  -webkit-box-shadow: 0px 0px 10px 0.1px #fff;
  box-shadow: 0px 0px 10px 0.1px #fff;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: perspective(1000px) rotateY(359deg);
    transform: perspective(1000px) rotateY(359deg);
  }
  100% {
    -webkit-transform: perspective(1000px) rotateY(0deg);
    transform: perspective(1000px) rotateY(0deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: perspective(1000px) rotateY(359deg);
    transform: perspective(1000px) rotateY(359deg);
  }
  100% {
    -webkit-transform: perspective(1000px) rotateY(0deg);
    transform: perspective(1000px) rotateY(0deg);
  }
}

.v2introSection {
  text-align: center;
}

.v2intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.name {
  width: 100%;
  font-family: "Anton", sans-serif;
  text-shadow: -30px 21px 8px #000;
}

.v2intro h1 {
  font-size: 8rem;
  line-height: 0.1;
  text-align: right;
  margin-right: 20%;
}
.v2lastname {
  margin-right: 10% !important;
}
.v2underline {
  border-bottom: 0.1rem solid #f2aa4c;
  margin: -1% 5% 0 24%;
}

.v2shortIntro {
  font-size: 1.4rem;
  line-height: 0.3;
  text-align: left;
  width: 100%;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-bottom: 1.5%;
  font-family: "Fraunces", serif;
}

.v2about {
  width: 30%;
  padding: 1% 0 8% 20%;
  text-align: right;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.v2title h1 {
  text-align: center;
  font-size: 4rem;
  font-family: "Anton", sans-serif;
  margin: 8% 0 5% 0;
  text-shadow: -15px 12px 12px #000;
}

.v2projectsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin: 0 0 15% 0;
}

.test1 {
  height: 70vh;
  width: 50vw;
  -webkit-transform: perspective(1000px) rotateY(-20deg);
  transform: perspective(1000px) rotateY(-20deg);
  -webkit-box-shadow: 80px 60px 35px #000;
  box-shadow: 80px 60px 35px #000;
  background-color: transparent;
  align-self: center;
}

.expand {
  animation: expand 5s;
}

@keyframes expand {
  0% {
    height: 1px;
  }
  100% {
    height: 70vh;
  }
}

.v2projectIconsWrap {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr 1rem 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.v2proejctorCont {
  margin-top: 250%;
  margin-left: -180%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.v2projectorWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 10%;
}

.v2projector {
  height: 20rem;
  width: 10rem;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.v2projectorShadow {
  margin: -4rem 0 0 2rem;
  height: 1px;
  color: transparent;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  /* border-radius: 0rem; */
  -webkit-box-shadow: 10px 20px 30px 10px #000;
  box-shadow: 10px 20px 30px 10px #000;
}

.v2projectIcons {
  width: 5rem;
  height: auto;
}

.v2projectSelectWrap {
  left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: absolute;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.v2projectSelect {
  transform: perspective(500px) rotateY(20deg);
  -webkit-transform: perspective(500px) rotateY(20deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.v2projectSelect > h2 {
  cursor: pointer;
  font-size: 25px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 0 10% 0;
  text-shadow: -18px 11px 6px #000;
}

.infoWrap {
  width: 33rem;
  height: 30rem;
  left: 12rem;
  position: absolute;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.fadeIn {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.see_movieHunt {
  -webkit-text-decoration: underline solid #f2aa4c 1px;
  text-decoration: underline solid #f2aa4c 1px;
  cursor: pointer;
}
.see_pokeDex {
  -webkit-text-decoration: underline solid #f2aa4c 1px;
  text-decoration: underline solid #f2aa4c 1px;
  cursor: pointer;
}
.see_toDo {
  -webkit-text-decoration: underline solid #f2aa4c 1px;
  text-decoration: underline solid #f2aa4c 1px;
  cursor: pointer;
}

.see_watsPoppin {
  -webkit-text-decoration: underline solid #f2aa4c 1px;
  text-decoration: underline solid #f2aa4c 1px;
  cursor: pointer;
}

.v2screen {
  width: 100%;
  height: 100%;
  background-color: #191919;
}

.v2flowerCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.v2flowerCont div:nth-child(1) {
  border: 3px #f2aa4c solid;
  width: 10rem;
  height: 10rem;
  border-radius: 6rem;
}

.v2pokeDexIconsWrap {
  position: absolute;
  top: -20%;
}

.v2movieHuntIconsWrap {
  position: absolute;
  top: 0%;
}

.v2toDoIconsWrap {
  position: absolute;
  top: 40%;
}

.v2watsPoppinIconsWrap {
  position: absolute;
  top: 60%;
}

.v2projectSelect > div > img {
  opacity: 0;
  position: absolute;
  width: 5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: -100;
}

.build {
  -webkit-animation: build 2s;
  animation: build 2s;
}

@-webkit-keyframes build {
  0% {
    -webkit-transform: translateX(0) rotateY(200deg);
    transform: translateX(0) rotateY(200deg);
    opacity: 1;
  }
  20% {
    -webkit-transform: translateY(-100%) translateX(180%);
    transform: translateY(-100%) translateX(180%);
  }
  50% {
    -webkit-transform: translateY(-100%) translateX(180%);
    transform: translateY(-100%) translateX(180%);
    opacity: 1;
  }
  60% {
    -webkit-transform: translateY(600%) translateX(80%);
    transform: translateY(600%) translateX(80%);
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
}

@keyframes build {
  0% {
    -webkit-transform: translateX(0) rotateY(200deg);
    transform: translateX(0) rotateY(200deg);
    opacity: 1;
  }
  20% {
    -webkit-transform: translateY(-100%) translateX(180%);
    transform: translateY(-100%) translateX(180%);
  }
  50% {
    -webkit-transform: translateY(-100%) translateX(180%);
    transform: translateY(-100%) translateX(180%);
    opacity: 1;
  }
  60% {
    -webkit-transform: translateY(600%) translateX(80%);
    transform: translateY(600%) translateX(80%);
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
}

.v2findme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  margin-bottom: 5rem;
}

.v2findme h2 {
  font-size: 3rem;
  font-family: "Anton", sans-serif;
  margin: 0 0 2% 0;
  text-shadow: -15px 12px 12px #000;
}

.v2findMeIcons img {
  width: 3rem;
  margin: 0 0.1rem 0 0.1rem;
  -webkit-transform: rotateZ(-360deg);
  -ms-transform: rotate(-360deg);
  transform: rotateZ(-360deg);
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.v2findMeIcons img:hover {
  -webkit-transform: rotateZ(360deg);
  -ms-transform: rotate(360deg);
  transform: rotateZ(360deg);
  -webkit-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  transition-duration: 1.5s;
  cursor: pointer;
}

.v2findmeWrap {
  padding-bottom: 5rem;
}

.gmail {
  width: 2rem;
}

@media screen and (min-width: 1440px) and (max-width: 1790px) {
  .v2proejctorCont {
    margin-left: -150%;
  }

  .v2projectSelectWrap {
    left: 2%;
  }

  .v2projectSelect h2 {
    font-size: 20px;
  }

  .infoWrap {
    left: 9rem;
    width: 25rem;
  }
}

@media screen and (max-width: 1440px) {
  .v2proejctorCont {
    margin-left: -150%;
  }

  .v2projectSelectWrap {
    left: 2%;
  }

  .v2projectSelect h2 {
    font-size: 20px;
  }

  .infoWrap {
    left: 9rem;
    width: 25rem;
  }
}

@media screen and (max-width: 1260px) {
  .v2proejctorCont {
    margin-left: -120%;
  }

  .v2projector {
    height: 14rem;
    width: 8rem;
  }

  .v2projectSelectWrap {
    left: 2%;
  }

  .v2projectSelect h2 {
    font-size: 18px;
  }

  .infoWrap {
    left: 8rem;
    width: 22rem;
  }

  .v2projects_iconsWrap {
    left: 68%;
  }
}

@media screen and (max-width: 1110px) {
  .v2proejctorCont {
    margin-left: -120%;
  }

  .v2projector {
    height: 14rem;
    width: 8rem;
  }

  .v2projectSelectWrap {
    left: 2%;
  }

  .v2projectSelect h2 {
    font-size: 18px;
  }

  .infoWrap {
    left: 8rem;
    width: 18rem;
    font-size: 14px;
  }
}
